
html {
  height: 100%
}

body {
  background: #41004D;
  color: #FF80AA;
  height: 100%;
  display: grid;
}

@media all and (min-width: 1100px) {
  body {
    grid-template-areas: '. . . . .' '. . container . .' '. . . . .';
  }
}

@media all and (max-width: 1080px) {
  body {
    grid-template-areas: '.' 'container' '.' '.';
  }

  #container {
    /*width: 90%;*/
  }
}

#randomizer {
  display: grid;
  grid-template-areas: 'min max' 'randomize copy';
}

#randomizer > * {
  margin: 0 10px 0 0;
}

#container {
  grid-area: container;
  position: center;

  /*top: 10%;*/
  /*left: 30%;*/
}

#min_price_lab {
  grid-area: minlab;
}

#max_price_lab {
  grid-area: maxlab;
}

#min_price {
  grid-area: min;
}

#max_price {
  grid-area: max;

}

#randomizer > input[type=submit] {
  grid-area: randomize;
  /*width: 10%;*/
}

#randomizer > button {
  grid-area: copy;
  /*width: 60%;*/
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #FF80AA;
}

#container p {
  display: inline-block;
  font-size: x-large;
}

#hero-name {
  float: left;
  cursor: pointer;
}

#item-name {
  float: right;
}