
html {
  height: 100%

}

body {
  font-family: Calibri, serif;
  background: #41004D;
  color: #FF80AA;
  height: 100%;
  display: grid;
}

@media all and (min-width: 1100px) {
  body {
    grid-template-areas: '. . . . .' '. . container . .' '. . . . .';
  }
}

@media all and (max-width: 1080px) {
  body {
    grid-template-areas: '.' 'container' '.' '.';
  }

}

#randomizer {
  display: grid;
  grid-template-areas: 'min max' 'randomize copy';
}

#randomizer > * {
  margin: 0 10px 0 0;
}

#container {
  grid-area: container;
  position: center;

  /*top: 10%;*/
  /*left: 30%;*/
}

#min_price_lab {
  grid-area: minlab;
}

#max_price_lab {
  grid-area: maxlab;
}

#min_price {
  grid-area: min;
}

#max_price {
  grid-area: max;

}

#randomizer > input[type=submit] {
  grid-area: randomize;
  /*width: 10%;*/
}

input[type=submit], button {
  -webkit-transition: background-color 1.5s ease-out;
  -moz-transition: background-color 1.5s ease-out;
  -o-transition: background-color 1.5s ease-out;
  transition: background-color 1.5s ease-out;
}

input[type=submit]:active, button:active {
  -webkit-transition: background-color 1.5s ease-out;
  -moz-transition: background-color 1.5s ease-out;
  -o-transition: background-color 1.5s ease-out;
  transition: background-color 0.2s ease-out;
  background-color: black !important;

}

#randomizer > button, input[type=submit] {
  grid-area: copy;
  /*width: 60%;*/
  /*margin-right: 0;*/
  background-color: #C2185B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px !important;
  cursor: pointer;
  height: 45px;

}

a {
  text-decoration: none;
  color: #FF80AA;
}

#container p {
  display: inline-block;
  font-size: x-large;
}

#hero-name {
  float: left;

}

#item-name {
  float: right;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#randomizer input[type="number"] {
  padding: 9px 15px;
  border: none;
  background-color: #FF80AA;
  border-radius: 10px;
}